@media (max-width: 375px) {
  body {
      background: 
      url(../img/bg-pattern-bottom.svg) bottom -630px right -716px no-repeat; 
      url(../img/bg-pattern-top.svg) top -570px left -775px no-repeat;
  }
}

  main {
      width: 326px;
      height: 374px;
      margin-top: 147px;
      margin-bottom: 146px;
  }

  .bg-pattern-card {
      width: 326px;
      height: 140px;
  }

  .image-victor {
      margin-left: 115px;
  }

  .h2-2 {
      padding-left: 138px;
  }

  .div2 {
      padding-left: 41px;
  }

  .div4 {
      padding-left: 40px;
      padding-right: 55px;
  }
}